body {
    text-align: center;
    background-image: url("../images/vapor.jpg");
    background-size: 100%;
    color: black;
}
button{
    background-color: bisque;
    border: 2px, solid, violet;
}
.box {
    margin: 5%;
    padding: 5%;
    border-top: 20px;
    border-color: rgb(219,112,147)
}
/* font stuff */
h1 { 
    font-family: Orbitron; 
    font-size: 30px; 
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: 400; 
    line-height: 30px; 
} 
h3 { 
    font-family: Orbitron; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 
p, button { 
    font-family: Lato; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 
.block { 
    font-family: Orbitron; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 